{% extends 'navbar.html' %}
{% load static %} 

{% block title %}Remove Event{%endblock title %} 

{% block main_page_link %}{% url 'managerMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'managerMainPage'%}{% endblock main_page_link2 %} 

{% block navbar-right-box-link %}{% url 'managerProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 

{% block navbar_op2_link %}/public/managerServices/managerMS/{% endblock navbar_op2_link %}
{% block navbar_op2_value %}Service{% endblock navbar_op2_value %}

{% block navbar-dd-link1 %}/public/managerProfile/{% endblock navbar-dd-link1 %}
{% block navbar-dd-value1 %}Profile{% endblock navbar-dd-value1 %}

{% block navbar-dd-link2 %}/public/managerServices/manager_mdashboard/{% endblock navbar-dd-link2 %}
{% block navbar-dd-value2 %}Dashboard{% endblock navbar-dd-value2 %}

{% block navbar-dd-link3 %}/logout/{% endblock navbar-dd-link3 %}
{% block navbar-dd-value3 %}Logout{% endblock navbar-dd-value3 %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/simpleManipulation.css' %}" />
<link rel="stylesheet" href="{% static 'css/event.css' %}" />

<div class="container-fluid" style="background:#D1EDF2;">
<div class="container">
    {% comment %} create table {% endcomment %}
    <div class="row py-5">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-danger">Remove Event</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Event Name</th>
                                <th>Event Date</th>
                                <th>Event Time</th>
                                <th>Event Location</th>
                                <th>Event Description</th>
                                <th>Event Type</th>
                                <th>Event Status</th>
                                <th>Remove</th>
                            </trd-flex>
                        </thead>
                        <tbody>
                            {% for event in eventdata %}
                            <tr style="background:#B1C1C4;" class="text-primary">
                                <td class="fs-6 fw-medium text-primary editable" data-type="name" data-id="{{event.id}}">{{event.ename}}</td>
                                <td class="fs-6 fw-medium text-primary editable" data-type="date" data-id="{{event.id}}">{{event.edate}}</td>
                                <td class="fs-6 fw-medium text-primary editable" data-type="starttime" data-id="{{event.id}}">{{event.estarttime}}</td>
                                <td class="fs-6 fw-medium text-primary editable" data-type="endtime" data-id="{{event.id}}">{{event.eendtime}}</td>
                                <td class="fs-6 fw-medium text-primary editable" data-type="venue" data-id="{{event.id}}">{{event.evenue}}</td>
                                <td class="fs-6 fw-medium text-primary editable" data-type="description" data-id="{{event.id}}">{{event.edesc}}</td>
                                <td class="fs-6 fw-medium text-primary editable" data-type="organization" data-id="{{event.id}}">{{event.eorganization}}</td>
                                {% comment %} <td><a href="{% url 'removeEvent2' event.ename %}"><button class="btn btn-danger">Remove</button></a></td> {% endcomment %}
                                <form action="{% url 'removeEvent2' event.ename %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="ename" value="{{event.ename}}">
                                    <input type="hidden" name="edate" value="{{event.edate}}">
                                    <input type="hidden" name="estarttime" value="{{event.estarttime}}">
                                    <input type="hidden" name="eendtime" value="{{event.eendtime}}">
                                    <input type="hidden" name="evenue" value="{{event.evenue}}">
                                    <input type="hidden" name="edesc" value="{{event.edesc}}">
                                    <input type="hidden" name="eorganization" value="{{event.eorganization}}">
                                    <input type="hidden" name="estatus" value="{{event.estatus}}">
                                    <td><button class="btn btn-danger">Remove</button></td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}

