{% extends 'navbar.html' %}
{% load static %} 

{% block title %}Show Event{%endblock title %} 

{% block main_page_link %}{% url 'managerMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'managerMainPage'%}{% endblock main_page_link2 %} 

{% block navbar-right-box-link %}{% url 'managerProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 

{% block navlink1_link %}/public/managerServices/managerMS/{% endblock %}
{% block navlink1_value %}Service{% endblock %}

{% block navbar-dd-link1 %}/public/managerProfile/{% endblock navbar-dd-link1 %}
{% block navbar-dd-value1 %}Profile{% endblock navbar-dd-value1 %}

{% block navbar-dd-link2 %}/public/managerServices/manager_mdashboard/{% endblock navbar-dd-link2 %}
{% block navbar-dd-value2 %}Dashboard{% endblock navbar-dd-value2 %}

{% block navbar-dd-link3 %}/logout/{% endblock navbar-dd-link3 %}
{% block navbar-dd-value3 %}Logout{% endblock navbar-dd-value3 %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/simpleManipulation.css' %}" />

<div class="container-fluid" style="background:#F1CBBB;">
    <div class="container">
        {% if event %}
            <div class="row pb-1 pt-5 pl-5 pr-5">
            {% for e in event %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:#DEE6AC;">
                    <div class="col p-3 d-flex flex-column position-static">
                        <h2 class="text-primary"><span class="fs-4">Name:</span> {{e.ename}}</h2>
                        <h4 class="mb-0"><span class="fs-5">Venue: {{e.evenue}}</span></h4>
                        <div class="mb-1 text-light-gray"><span class="fs-6 fw-bold text-danger">Date:</span> {{e.edate}}</div>
                        <p class="card-text mb-auto"><span class="fs-6 fw-semibold text-danger">Desc: </span>{{e.edesc}}</p>
                        <p class="card-text mb-auto">Total Seat : <strong>{% widthratio e.ecol 1 e.erow %}</strong></p>
                    </div>
                    <div class="col-auto p-0">
                        {% comment %} <img src="https://picsum.photos/300/250" alt="image"> {% endcomment %}
                        {% comment %} <img src="https://source.unsplash.com/300x250/?stadium" alt="image"> {% endcomment %}
                        <img src="{{img}}" alt="image">
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            
            <div class="row pl-4">
                <div class="col-auto p-4">
                    <a href="{% url 'managerMainPage' %}" class="btn btn-info right">Back</a>
                    <a href="{% url 'addEvent' %}" class="btn btn-success right">Add Event</a>
                    <a href="{% url 'removeEvent' %}" class="btn btn-danger right">Remove Event</a>
                </div>
            </div>

        {% else %}
            <div class="row p-5">
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:{{boxcolor.1}}">
                        <div class="col p-3 d-flex flex-column position-static">
                            <h2 class="text-primary"><span class="fs-4">No Event Found</span></h2>
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-auto p-0">
                            <a href="{% url 'managerMainPage' %}" class="btn btn-info right">Back</a>
                            <a href="{% url 'addEvent' %}" class="btn btn-success right">Add Event</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
