{% extends 'navbar.html' %}
{% load static %} 
{% block title %}Show Event{%endblock title %} 
{% block main_page_link %}{% url 'managerMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'managerMainPage'%}{% endblock main_page_link2 %} 
{% block navbar-right-box-link %}{% url 'managerProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 
{% block navbar_op2_link %}/public/managerServices/managerMS/{% endblock navbar_op2_link %}
{% block navbar_op2_value %}Service{% endblock navbar_op2_value %}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/simpleManipulation.css' %}" />
<link rel="stylesheet" href="{% static 'css/event.css' %}" />

<div class="container">
    <div class="row">
    {% for e in event %}
        {% comment %} create variable in python {% endcomment %}
        {% comment %} {% with event_id=0 %}
        {% if event_id == 1%}
            {% with event_id=0 %}
        {% endif %}
            {% with event_id=event_id+1 %}
            {{event_id}}
        {% endwith %} {% endcomment %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2><strong class="d-inline-block mb-2 text-primary">{{e.ename}}</strong></h2>
                    <h3 class="mb-0">{{e.evenue}}</h3>
                    <div class="mb-1 text-muted">{{e.edate}}</div>
                    <p class="card-text mb-auto">{{e.edesc}}</p>
                    {{e.ecol}}*{{e.erow}} 
                    <a href="#" class="m-btn">Book</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    {% comment %} <img src="https://picsum.photos/300/250" alt="image"> {% endcomment %}
                    {% comment %} <img src="https://source.unsplash.com/300x250/?stadium" alt="image"> {% endcomment %}
                    <img src="" alt="image">
                    {% comment %} <svg class="bd-placeholder-img" width="400" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> {% endcomment %}
                </div>
            </div>
        </div>
    {% comment %} assi it gn{% endcomment %}
    {% comment %} {% with event_id=1 %}
    {% endwith %} {% endcomment %}
    {% endfor %}
    </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
