.myCard{
    border: 2px solid crimson;
    background: #777676;
}
.eventbox{
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
}
.eventbox header{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    color: rgb(235, 77, 3);
    letter-spacing: 1px;
}
.myCard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    height: 90%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.582);
}
.eventbox .myInput,.myInput1,.myInput2,span{
    width: 290px;
    border: none;
    border-radius: 0px 13px 13px 0px;
    padding: 10px;
    padding-left: 20px;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid #444;
}
.eventbox .myInput:focus,.myInput1:focus,.myInput2:focus{
    outline: none;
}
.eventbox .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fas{
    height: 10px;
    width: 10px;
    color: #017c72;
}
.fas::before{
    height: 10px;
    width: 10px;
}
.eventbox label{
    font-size: 17px;
    letter-spacing: 1px;
}
.eventbox .myInput1,span{
    width: 135px;
}
.eventbox .myInput1{
    margin-left: 10px;
}
.eventbox .myInput2{
    width: 220px;
}
.eventbox .myInput2{
    margin-left: 10px;
}
.eventbox span{
    padding-top: 13px;
    color: #017c72;
    font-size: 14px;
    border-radius: 13px 0px 0px 13px;
    font-weight: 500;
    padding-bottom: 13px;
}

.eventbox .m-btn{
    background-image: linear-gradient(45deg, #1c9e98, #07a195);
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s all;
}
.eventbox .m-btn:hover{
    color: #fff;
    background: linear-gradient(45deg, #0f928c, #017c72);
}
.eventbox textarea{
    padding: 7px 25px;
    outline: none;
    font-size: 17px;
    border: 1px solid #444;
    border-radius: 20px;
}
.eventbox textarea:focus{
    outline: none;
}

