 .navbar{
    background-color: rgba(1, 170, 38, 0.836);
 }

.manual_login_css{
    color: azure !important;
    font-size: 20px !important;
    letter-spacing: 1px;
    transition: 0.4s all ease-in-out;

}