@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
body{
    background: #fbf3fb;
    height: 100vh;
}
.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    height: 480px;
    margin: 40px auto;
}
.myRightCtn{
    background-image: linear-gradient(45deg, #389c3d, #008516);
    border-radius: 25px;
    padding: 25px;
    height: 100%;
    color: rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.myLeftCtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    padding: 22px;
    height: 100%;
}
.myLeftCtn header{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    color: rgb(2, 180, 55);
}
.row{
    height: 100%;
}
.myCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    height: 90%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.myRightCtn header{
    font-size: 30px;
    color: #fff;
}
.box{
    margin: 20px;
    /* margin-bottom: 100px; */
}
.form-group div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.myLeftCtn .form-group{
    margin-bottom: 10px;
}
.myLeftCtn .myInput{
    width: 290px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
    outline: none;
    letter-spacing: 1px;
    font-size: 15px;
    margin-left: 20px;
}
.myLeftCtn .myInput:focus{
    outline: none;
}
.myForm{
    margin-top: 50px;
}
.myLeftCtn .m-btn{
    background-image: linear-gradient(45deg, #36fd46, #009b1a);
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    transition: 1s ease-in-out;
}
.myLeftCtn .m-btn:hover{
    color: #fff;
    background: linear-gradient(45deg, #15c249, #00a716);
    /* background: linear-gradient(45deg, #c85bff, #b726ff); */
}
.myLeftCtn .myInput:focus{
    outline: none;
}
.fas{
    color: #249715;
    left: 16px;
    font-size: 15px;
}
.m-btn-out{
    background: transparent;
    color: #fff;
    width: 120px;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px;
}
.m-btn-out:hover{
    background: linear-gradient(45deg, #00b30f, #18c730);
}
.myRightCtn .redirect{
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}
.myRightCtn .redirect a{
    color: #11ece5;
    /* color: #360136; */
    text-decoration: none;
}
.myLeftCtn .radio-css > .myInput {
    width: 30px;
}