{% extends 'navbar.html' %}
{% load static %} 

{% block title %}Book Your Seat{%endblock title %} 

{% block main_page_link %}{% url 'managerMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'managerMainPage'%}{% endblock main_page_link2 %} 

{% block navbar-right-box-link %}{% url 'managerProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 

{% block navbar_op2_link %}/public/managerServices/managerMS/{% endblock navbar_op2_link %}
{% block navbar_op2_value %}Service{% endblock navbar_op2_value %}

{% block navbar-dd-link3 %}/logout/{% endblock navbar-dd-link3 %}
{% block navbar-dd-value3 %}logout{% endblock navbar-dd-value3 %}

{% comment %} select seat from chechbox  {% endcomment %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="container py-5">
    {% if page %}
    <div class="row p-4" style="border:1px solid crimson;">
        <div class="col">
            <div class="about">
                <h1>Book your tickets here</h1>
                <p>Book your tickets here</p>
            </div>
        </div>
    </div>
    <div class="row p-4" style="border:1px solid crimson;">
        <div class="col">
            <form class="form-horizontal" method="post" action="{% url 'bookYourSeat2' ename %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col"></div>
                    {% for j in bseat.ecol %}
                        <div class="col">
                            {{j}}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in seatdata %}
                        {% if forloop.counter0|divisibleby:i.no_col  %}
                            <div class="row"></div>
                        {% endif %}
                        {% if forloop.counter0|divisibleby:i.no_col  %}
                        <div class="col">
                            <div class="seat">
                                {{i.row_count}}
                            </div>
                        </div>        
                        {% endif %}
                        {% if i.seatstatus %}
                            <div class="col">
                                <div class="seat">
                                    <input type="checkbox" name="sseat" value="{{i.seatname}}" disabled>
                                </div>
                            </div>
                        {% else %}
                            <div class="col">
                                <div class="seat">
                                    <input type="checkbox" name="sseat" value="{{i.seatname}}">
                                </div>
                            </div>
                        {% endif %}
                        {% comment %} <div class="col">
                            <input type="checkbox" name="sseat" value="{{i.seatname}}" >
                        </div>   {% endcomment %}
                    {% endfor %}
                </div>
                <div class="row pt-3">
                    <div class="col-1">
                        Price :
                    </div>
                    <div class="col-1">
                        {{price}}
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Book" class="btn btn-primary">
                    </div>
                </div>                    
            </form>
        </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}
    {% else %}
    <div class="row ">
        <div class="col">
            <div class="about">
                <h1>Sorry, Events not exist</h1>
                <p class="fs-5">Sorry, No seats available</p>
            </div>
        </div>
    </div>
    {% endif %}
</div> 
{% endblock content %}

{% comment %} increment variable value in for loop {% endcomment %}


