{% extends 'navbar.html' %}
{% load static %} 

{% block title %}Book Your Seat{%endblock title %} 

{% block main_page_link %}{% url 'userMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'userMainPage'%}{% endblock main_page_link2 %} 

{% block navbar-right-box-link %}{% url 'userProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 

{% block navlink1_link %}/booking/{% endblock %}
{% block navlink1_value %}Booking{% endblock %}

{% block navbar-dd-link1 %}/public/userProfile/{% endblock navbar-dd-link1 %}
{% block navbar-dd-value1 %}Profile{% endblock navbar-dd-value1 %}

{% block navbar-dd-link2 %}/public/userServices/u_mdashboard/{% endblock navbar-dd-link2 %}
{% block navbar-dd-value2 %}Dashboard{% endblock navbar-dd-value2 %}

{% block navbar-dd-link3 %}/logout/{% endblock navbar-dd-link3 %}
{% block navbar-dd-value3 %}Logout{% endblock navbar-dd-value3 %}

{% comment %} select seat from chechbox  {% endcomment %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% comment %} <link href="https://semantic-ui.com/dist/semantic.min.css" rel="stylesheet" /> {% endcomment %}
<div class="container-fluid">
<div class="container py-5">
    {% comment %} adding back button {% endcomment %}
    <div class="row mb-2">
        <div class="col pl-0">
            <a href="/booking/" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back Page</a>
        </div>
    </div>
    {% if page %}
    <div class="row pt-4 pl-4 pb-1" style="border:1px solid crimson;">
        <div class="col">
            <div class="about">
                <h1 class="text-primary">{{bseat.ename|upper}} [{{bseat.eorganization}}]</h1>
                <h4>Timing: <span class="fs-5">{{bseat.edate}}</span> <span class="fs-6">{{bseat.estarttime}} to {{bseat.eendtime}}</span></h4>
                <h3></h3>
                <h4>Venue: {{bseat.evenue}}</h4>
                <h5>Price: &nbsp;₹ &nbsp;&nbsp;<span class="fs-5 text-danger">{{bseat.seatprice}}</span>/<span class="fs-6 text-secondary">seat</span></h5>
                <p>Book your tickets here</p>
            </div>
        </div>
        <div class="col">
            <div class="about">
                {{bseat.edesc}}
            </div>
        </div>
    </div>
    <div class="row p-4" style="border:1px solid crimson;">
        <div class="col">
            <form class="form-horizontal" method="post" action="{% url 'bookYourSeat2' ename %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col"></div>
                    {% for j in bseat.ecol %}
                        <div class="col">
                            {{j}}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in seatdata %}
                        {% if forloop.counter0|divisibleby:i.no_col  %}
                            <div class="row"></div>
                        {% endif %}
                        {% if forloop.counter0|divisibleby:i.no_col  %}
                        <div class="col">
                            <div class="seat">
                                {{i.row_count}}
                            </div>
                        </div>        
                        {% endif %}
                        {% if i.seatstatus %}
                            <div class="col">
                                <div class="ui disabled checkbox">
                                    <input type="checkbox" name="sseat" value="{{i.seatname}}" disabled="disabled" autocomplte="off">
                                </div>
                            </div>
                        {% else %}
                            <div class="col">
                                <div class="seat">
                                    <input type="checkbox" name="sseat" value="{{i.seatname}}" style="cursor:pointer;" autocomplte="off">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row pt-3 d-flex align-items-center">
                    <div class="col-1 fs-5">
                        Price :
                    </div>
                    <div class="totalPrice col-2" value="" >
                        0 Rs.
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Book" class="btn btn-primary">
                    </div>
                    {% comment %} <div class="col-2 imp_msg">
                        <p class="text-danger">*Select only 10 seats</p>
                    </div> {% endcomment %}

                </div>                    
            </form>
        </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}
    {% else %}
    <div class="row ">
        <div class="col">
            <div class="about">
                <h1>Sorry, Events not exist</h1>
                <p class="fs-5">Sorry, No seats available</p>
            </div>
        </div>
    </div>
    {% endif %}
</div> 
</div> 
<script>
    var elements = document.getElementsByTagName("INPUT");
    for (var inp of elements) {
        if (inp.type === "checkbox")
            inp.checked = false;
    }
    let values =  0;
    let seat_counter = 10;
    $('input[type="checkbox"]').click(function(){
        if ($(this).prop("checked")){
            values = values + {{bseat.seatprice}};
            $('.totalPrice').text(values + " Rs.");
            document.getElementsByClassName("totalPrice")[0].setAttribute("value", values);
        }
        else if(!$(this).prop("checked")){
            values = values - {{bseat.seatprice}};
            $('.totalPrice').text(values + " Rs.");
            document.getElementsByClassName("totalPrice")[0].setAttribute("value", values);
        }
    });
    console.log(seat_counter);
    console.log(values);
</script>
{% endblock content %}


{% comment %} increment variable value in for loop {% endcomment %}


