{% extends 'navbar.html' %}
{% load static %} 

{% block title %}Seat Dashboard{%endblock title %} 

{% block main_page_link %}{% url 'userMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'userMainPage'%}{% endblock main_page_link2 %} 

{% block navbar-right-box-link %}{% url 'userProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 

{% block navlink1_link %}/booking/{% endblock %}
{% block navlink1_value %}Booking{% endblock %}

{% block navbar-dd-link1 %}/public/userProfile/{% endblock navbar-dd-link1 %}
{% block navbar-dd-value1 %}Profile{% endblock navbar-dd-value1 %}

{% block navbar-dd-link2 %}/public/userServices/u_mdashboard/{% endblock navbar-dd-link2 %}
{% block navbar-dd-value2 %}Dashboard{% endblock navbar-dd-value2 %}

{% block navbar-dd-link3 %}/logout/{% endblock navbar-dd-link3 %}
{% block navbar-dd-value3 %}Logout{% endblock navbar-dd-value3 %}

{% comment %} select seat from chechbox  {% endcomment %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% comment %} <link href="https://semantic-ui.com/dist/semantic.min.css" rel="stylesheet" /> {% endcomment %}
<div class="container-fluid">
<div class="container py-5">
    {% comment %} adding back button {% endcomment %}
    <div class="row mb-2">
        <div class="col pl-0">
            <a href="/public/userServices/u_mdashboard/" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back Page</a>
        </div>
    </div>
    <div class="row pt-4 pl-4 pb-1" style="border:1px solid crimson;">
        <div class="col">
            <div class="about">
                <h1 class="text-primary">{{eventdata.ename}} [{{eventdata.eorganization}}]</h1>
                <h4>Timing: <span class="fs-5">{{eventdata.edate}}</span> <span class="fs-6">{{eventdata.estarttime}} to {{eventdata.eendtime}}</span></h4>
                <h3></h3>
                <h4>Venue: {{eventdata.evenue}}</h4>
                <h5>Price: &nbsp;₹ &nbsp;&nbsp;<span class="fs-5 text-danger">{{eventdata.seatprice}}</span>/<span class="fs-6 text-secondary">seat</span></h5>
            </div>
        </div>
        <div class="col">
            <div class="about">
                {{eventdata.edesc}}
            </div>
        </div>
    </div>
    <div class="row p-4" style="border:1px solid crimson;">
        <div class="col">
                <div class="row">
                    <div class="col"></div>
                    {% for j in eventdata.ecol %}
                        <div class="col">
                            {{j}}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for i in seatdata %}
                        {% if forloop.counter0|divisibleby:i.no_col  %}
                            <div class="row"></div>
                        {% endif %}
                        {% if forloop.counter0|divisibleby:i.no_col  %}
                        <div class="col">
                            <div class="seat">
                                {{i.row_count}}
                            </div>
                        </div>        
                        {% endif %}
                        {% if i.seatstatus == 2 %}
                            <div class="col">
                                <div class="ui disabled checkbox">
                                    <input type="checkbox" name="sseat" value="{{i.seatname}}" autocomplte="off" checked  onclick="return false;" onkeydown="return false;">
                                </div>
                            </div>
                        {% elif i.seatstatus == 1 %}
                            <div class="col">
                                <div class="ui disabled checkbox">
                                    <input type="checkbox" name="sseat" value="{{i.seatname}}" autocomplte="off" checked disabled>
                                </div>
                            </div>
                        {% else %}
                            <div class="col">
                                <div class="seat">
                                    <input type="checkbox" name="sseat" value="{{i.seatname}}" disabled="disabled" style="cursor:pointer;" autocomplte="off">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row pt-3 d-flex align-items-center">
                    <div class="col-2">
                        <strong class="fs-5">Total Price :</strong>
                    </div>
                    <div class="totalPrice col-2" value="" >
                       <span class="text-danger fw-semibold fs-5">  ₹ &nbsp;&nbsp;{{userBookedRecord_price}} /-</span>
                    </div>
                    <div class="col-2">
                        {% comment %} <strong style="margin-left:auto"><a href="{% url 'bookYourSeat2' ename %}" class="btn btn-info right">Book More</a></strong> {% endcomment %}
                    </div>
                </div>                    
        </div>
    </div> 
{% comment %}     
    <div class="row ">
        <div class="col">
            <div class="about">
                <h1>Sorry, Events not exist</h1>
                <p class="fs-5">Sorry, No seats available</p>
            </div>
        </div>
    </div> {% endcomment %}

</div> 
</div> 
{% endblock content %}


{% comment %} increment variable value in for loop {% endcomment %}


