{% extends 'navbar.html' %}
{% block title %}About{% endblock title %}
{% load static %}
{% block main_page_link %}{{public}}{% endblock main_page_link %} 
{% block main_page_link2 %}{{public}}{% endblock main_page_link2 %} 
{% block navbar-right-box-link %}{{publicprofile}}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">About</h1>
            <p class="text-center">This is a simple Django application that allows users to create, edit, and delete blog posts. It was created by following the tutorial on <a href="https://www.youtube.com/watch?v=UmljXZIypDc">Pretty Printed</a>.</p>
        </div>
    </div>
</div>
{% endblock content %}