{% extends 'navbar.html' %}
{% load static %} 

{% block title %}Show Event{%endblock title %} 

{% block main_page_link %}{% url 'userMainPage' %}{% endblock %} 
{% block main_page_link2 %}{% url 'userMainPage'%}{% endblock %} 

{% block navbar-right-box-link %}{% url 'userProfile' %}{% endblock %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock %} 

{% block navlink1_link %}/booking/{% endblock %}
{% block navlink1_value %}Booking{% endblock %}

{% block navbar-dd-link1 %}/public/userProfile/{% endblock %}
{% block navbar-dd-value1 %}Profile{% endblock %}

{% block navbar-dd-link2 %}/public/userServices/u_mdashboard/{% endblock %}
{% block navbar-dd-value2 %}Dashboard{% endblock %}

{% block navbar-dd-link3 %}/logout/{% endblock %}
{% block navbar-dd-value3 %}Logout{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="container-fluid" style="background:#C0C0C0;">
    <div class="container py-5">
        {% if bseat %}
            <div class="row p-3">
            {% for e in bseat %}
                <div class="col-md-6" style="max-width: 48%;margin-left: 15px;">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:{{ boxcolor|random }}">
                        <div class="col p-3 d-flex flex-column position-static">
                            <h2 class="text-primary"><span class="fs-4">Name:</span> {{e.ename}}</h2>
                            <h4 class="mb-0"><span class="fs-5">Venue: {{e.evenue}}</span></h4>
                            <div class="mb-1 text-light-gray"><span class="fs-6 fw-bold text-danger">Date:</span> {{e.edate}}</div>
                            <p class="card-text mb-auto"><span class="fs-6 fw-semibold text-danger">Desc: </span>{{e.edesc}}</p>
                            <p class="card-text mb-auto">Total Seat : <strong>{% widthratio e.ecol 1 e.erow %}</strong></p>
                            <strong style="margin-left:auto"><a href="{% url 'bookYourSeat' e.ename %}" class="btn btn-info right">Book</a></strong>
                        </div>
                        <div class="col-auto p-0" style="display:contents;">
                            <img src="https://source.unsplash.com/250x250/?{{e.ename}}" alt="image">
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="row p-3">
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:{{boxcolor.1}}">
                        <div class="col p-3 d-flex flex-column position-static">
                            <h2 class="text-primary"><span class="fs-4">No Event Found</span></h2>
                        </div>
                    </div>
                    {% comment %} <div class="row p-0">
                        <div class="col-auto p-0">
                            <a href="{% url 'managerMainPage' %}" class="btn btn-info right">Back</a>
                            <a href="{% url 'addEvent' %}" class="btn btn-success right">Add Event</a>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}