<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background:#2d2;">
        <input type="text" value="{{profile}}" id="selector_field" style="display:none;">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var selector_field = document.getElementById("selector_field").value;
            swal({
                icon: "success",
                title: "Login Successfully!!!",
                text: "Redirecting to user page",
                button: "OK",
            });
            setTimeout(function(){
                window.location.href = "/public/"+selector_field+"MainPage";
            }, 3000);
        </script>
        
    </body>
</html> 