{% extends 'navbar.html' %}
{% load static %} 

{% block title %}User Profile{%endblock title %} 

{% block main_page_link %}{% url 'userMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'userMainPage'%}{% endblock main_page_link2 %} 

{% block navbar-right-box-link %}{% url 'userProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 

{% block navlink1_link %}/booking/{% endblock %}
{% block navlink1_value %}Booking{% endblock %}

{% block navbar-dd-link1 %}/public/userProfile/{% endblock navbar-dd-link1 %}
{% block navbar-dd-value1 %}Profile{% endblock navbar-dd-value1 %}

{% block navbar-dd-link2 %}/public/userServices/u_mdashboard/{% endblock navbar-dd-link2 %}
{% block navbar-dd-value2 %}Dashboard{% endblock navbar-dd-value2 %}

{% block navbar-dd-link3 %}/logout/{% endblock navbar-dd-link3 %}
{% block navbar-dd-value3 %}Logout{% endblock navbar-dd-value3 %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container-fluid" style="background:#B0DFAF;">
<div class="container">
    <div class="row pt-5">
        <div class="col-md-6 ">
            
            <div class="form-group">
                <label style="letter-spacing:1px;font-size:16px;color:crimson;" for="username">Username</label>
                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="{{user.name}}" disabled>
            </div>
            <div class="form-group">
                <label style="letter-spacing:1px;font-size:16px;color:crimson;" for="email">Email</label>
                <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="{{user.email}}" disabled>
            </div>
            <div class="form-group">
                <label style="letter-spacing:1px;font-size:16px;color:crimson;" for="security">Security Key</label>
                <input type="text" name="security" id="security" tabindex="1" class="form-control" placeholder="Security Key" value="{{user.skey}}" >
            </div>
            <div class="form-group">
                <label style="letter-spacing:1px;font-size:16px;color:crimson;" for="customer_fields">Profile</label>
                <input type="text" name="customer_fields" id="customer_fields" tabindex="1" class="form-control" placeholder="Profile" value="{{user.customer_fields}}" disabled>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="submit changes" id="iname" class="btn btn-info w-auto py-2 px-3">
            </div>
            
        </div>
        <div class="col-md-6 ">
            <img src="" alt="image not found">
        </div>
        
    </div>
</div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}