{% extends 'navbar.html' %}
{% load static %} 

{% block title %}User Main-Page{%endblock title %} 

{% block main_page_link %}{% url 'userMainPage' %}{% endblock main_page_link %} 
{% block main_page_link2 %}{% url 'userMainPage'%}{% endblock main_page_link2 %} 

{% block navbar-right-box-link %}{% url 'userProfile' %}{% endblock navbar-right-box-link %} 
{% block navbar-right-box-value %}<i class="fa fa-user"></i> {{name}}{% endblock navbar-right-box-value %} 

{% block navlink1_link %}/booking/{% endblock %}
{% block navlink1_value %}Booking{% endblock %}

{% block navbar-dd-link1 %}/public/userProfile/{% endblock navbar-dd-link1 %}
{% block navbar-dd-value1 %}Profile{% endblock navbar-dd-value1 %}

{% block navbar-dd-link2 %}/public/userServices/u_mdashboard/{% endblock navbar-dd-link2 %}
{% block navbar-dd-value2 %}Dashboard{% endblock navbar-dd-value2 %}

{% block navbar-dd-link3 %}/logout/{% endblock navbar-dd-link3 %}
{% block navbar-dd-value3 %}Logout{% endblock navbar-dd-value3 %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/simpleManipulation.css' %}">
<div class="container">
    <div class="row"> 
      <div class="col-md-12">
        <div class="m_box_content">
          <h2 class="d-flex py-3 d-inline">Newly added Event List</h2>
          For more events <a href="/booking/"> click here</a>
        <hr>

        <div class="row">
            {% if event %}
            {% for e in event %}
              <div class="col-md-4 mb-3 card-main">
                <div class="card">
                  <img
                    class="img-fluid"
                    alt="image not found"
                    src="https://source.unsplash.com/300x180/?{{e.ename | lower}}"
                  />
                  <div class="card-body">
                    <h4 class="card-title">{{e.ename}}</h4>
                    <p class="card-text">
                      {{e.evenue}}
                    </p>
                    <p class="card-text">
                      {{e.edesc}}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
              <h4>No Event Found</h4>
          {% endif %}
        </div>
      </div> 
    </div>
</div>
{% endblock content %}